@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

.mainheader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.hero {
  background: linear-gradient(rgba(146, 114, 159, 0.75), rgba(194, 6, 147, 0.55)), url("/img/Heroimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 10em;
  padding-bottom: 20em; }
