.hero
  background: linear-gradient(rgba(#92729F, .75), rgba(#c20693, .55)), url("/img/Heroimage.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative
  padding-top: 10em
  padding-bottom: 20em
