.hero
  background: linear-gradient(rgba(#92729F, .85), rgba(#755C80, .15)), url("/img/Heroimage.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: inherit
  padding-top: 20em
  padding-bottom: 20em
  text-align: center



  color: white

  .hero-img
    display: none
